/**
 * @file
 * Color Styling
 *
 */

/*
 * Base
 */
body {
  color: #333;
}

/*
 * Headings
 */
h1 {
  color: #1c2a47; /* dark-blue for page-titles */
}

h2, h3, h4, h5, h6,
a
 {
  color: #3b5998; /* blue for titles and links */
}